{% load markup threadedcomments_tags i18n %}
{% get_comment_list for object as responses %}
{% if responses %}
<ul class="responses clearfix grid_9">
{% for response in responses %}
    <li id="c{{ response.pk }}" class="comment {% cycle even,odd %} clearfix">
        <div class="meta grid_2 alpha">
            {# TODO: Find a way to make avatars work #}
            {#<div class="avatar">{% avatar response.user 40 %}</div>#}
            <div class="respondent">
                {% if response.user_url %}
                <a href="{{ response.user_url }}">{{ response.name }}</a>
                {% else %}
                {{ response.name }}
                {% endif %}
            </div>
            <div class="date">{{ response.submit_date|date }}</div>
        </div>
        <div class="body grid_7 omega">
            {{ response.comment|markdown:"safe" }}
        </div>
    </li>
{% endfor %}
</ul>
{% else %}
<p class="no-comments-message">No comments yet.</p>
{% endif %}

<div>
    {% render_comment_form for object %}
</div>

